body{
  position: relative;

  .switcher-section{
    position: fixed;
    width:400px;
    background:white;
    padding: 10px;
    top:100px;
    left:-400px;
    z-index:999;
    font-family: 'Roboto', sans-serif !important;
    font-size:14px;

    .switcher-section-wrapper{
      .switcher-tab{
        a{
          font-size: 14px;
          letter-spacing: 1px;
          text-transform: capitalize;
        }
      }
    }

    .toggle-switcher{
      position: absolute;
      right:-50px;
      width:50px;
      top:0px;
    }

    .switcher-spin, 
    .switcher-documentation,
    .switcher-cart{
      display: inline-block;
      font-size: 20px;
      background:white;
      text-align: center;
      border-bottom:solid 1px #eee;
      border-left:solid 1px #eee;
      color:#6d6d6d;
      transition:all 0.5s ease;
      padding:10px 15px;
      &:hover{
        color:#1e87f0;
      }
    }
    .switcher-documentation,
    .switcher-cart{
      padding:5px 10px;
      display:inline-block;
      font-size: 16px;
    }
  }
  
  .uk-form-label{
    font-size: 12px;
    font-weight:normal;
    text-transform: uppercase;
    color:#666;
  }

}


.style-tab{
  .layout{
    .boxed-backgrond{
      .boxed-bg-image,
      .boxed-bg-pattern{//ul
        display:flex;
        padding: 0;
        margin: 0;
        li{
          list-style-type: none;
          padding:10px 5px;
          img{
            cursor:pointer;
          }
          &:first-child{
            padding-left:0px;
          }
        }
      }
    }
  }
}



/* Customize Tab */
.customizer-tab{
   .uk-container{
      padding: 0;
   }
}

/* Typo Tab */
.typo-tab{
  
}


/* Helper Class */
.boxed-width{
  width:1170px;
  position:relative;
  margin:0 auto;
  box-shadow: 0px 0px 10px #e8e8e8;
}

.display-none{
  display:none;
}

